* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', serif;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

.header {
    background: #014E56;
    height: 721px;
}

.header .navbar .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 77px 0;
}

.header .navbar .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: -107px;
    margin-left: 280px;
}

.header .navbar .menu .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header .navbar .btn {
    cursor: pointer;
    float: right;
    margin-top: -32px;
    width: 153px;
    height: 48px;
    border-radius: 24px;
    background: #014E56;
    border: 2px solid #ffffff;
}

.header .navbar .btn .us {
    color: #ffffff;
    font-size: 18px;
}

.header .main .title {
    color: #ffffff;
    margin-top: 160px;
    font-size: 100px;
}

.header .main .title .talent {
    color: #F67E7E;
}

.main .disk-left{
    margin-left: -213px;
    margin-top: -222px;
}

.header .main .border {
    border: 1px solid #79C8C7;
    background: #79C8C7;
    width: 50px;
    height: 4px;
    margin-left: 680px;
    margin-top: -205px;
}

.header .main .text {
    font-size: 18px;
    color: #ffffff;
    margin-top: 93px;
    margin-left: 680px;
}

.header .main .disk-bottom {
    margin-left: 760px;
    margin-top: 132px;
}

/* about style */

.about {
    background: #012F34;
    height: 684px;
}

.about .btn {
    border: 1px solid #F67E7E;
    background: #F67E7E;
    width: 50px;
    height: 4px;
    margin-top: 150px;
}

.about .about-title {
    margin-top: 50px;
    font-size: 48px;
    color: #ffffff;
}

.about .icon {
    margin-top: -170px;
    margin-left: 650px;
}

.about .icon .para {
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -77px;
}

.about .icon .para-2 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 18px;
    line-height: 25px;
}

.about .icon-2 {
    margin-top: 50px;
    margin-left: 650px;
}


.about .icon-2 .para {
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -77px;
}

.about .icon-2 .para-2 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 18px;
    line-height: 25px;
}

.about .icon-3 {
    margin-top: 50px;
    margin-left: 650px;
}


.about .icon-3 .para {
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -77px;
}

.about .icon-3 .para-2 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 18px;
    line-height: 25px;
}

