* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', serif;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

.header {
    background: #014E56;
    height: 721px;
}

.header .navbar .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 77px 0;
}

.header .navbar .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: -107px;
    margin-left: 280px;
}

.header .navbar .menu .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header .navbar .btn {
    cursor: pointer;
    float: right;
    margin-top: -32px;
    width: 153px;
    height: 48px;
    border-radius: 24px;
    background: #014E56;
    border: 2px solid #ffffff;
}

.header .navbar .btn .us {
    color: #ffffff;
    font-size: 18px;
}

.header .main .title {
    color: #ffffff;
    margin-top: 160px;
    font-size: 100px;
}

.header .main .title .talent {
    color: #F67E7E;
}

.main .disk-left{
    margin-left: -213px;
    margin-top: -222px;
}

.header .main .border {
    border: 1px solid #79C8C7;
    background: #79C8C7;
    width: 50px;
    height: 4px;
    margin-left: 680px;
    margin-top: -205px;
}

.header .main .text {
    font-size: 18px;
    color: #ffffff;
    margin-top: 93px;
    margin-left: 680px;
}

.header .main .disk-bottom {
    margin-left: 760px;
    margin-top: 132px;
}

/* about style */

.about {
    background: #012F34;
    height: 684px;
}

.about .btn {
    border: 1px solid #F67E7E;
    background: #F67E7E;
    width: 50px;
    height: 4px;
    margin-top: 150px;
}

.about .about-title {
    margin-top: 50px;
    font-size: 48px;
    color: #ffffff;
}

.about .icon {
    margin-top: -170px;
    margin-left: 650px;
}

.about .icon .para {
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -77px;
}

.about .icon .para-2 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 18px;
    line-height: 25px;
}

.about .icon-2 {
    margin-top: 50px;
    margin-left: 650px;
}


.about .icon-2 .para {
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -77px;
}

.about .icon-2 .para-2 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 18px;
    line-height: 25px;
}

.about .icon-3 {
    margin-top: 50px;
    margin-left: 650px;
}


.about .icon-3 .para {
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -77px;
}

.about .icon-3 .para-2 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 18px;
    line-height: 25px;
}

.about .container .img {
    margin-left: 1269px;
    margin-top: -150px;
}

/* success */
.success {
    background: #004047;
    height: 745px;
}

.success .img {
    margin-left: -150px;
}

.success .success-title {
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}

.success .success-title span {
    color: #79C8C7;
}

.success .group .tickle {
    margin-left: 180px;
    margin-top: 100px;
}

.success .group .text {
    text-align: center;
    margin-right: 800px;
    margin-top: -20px;
    font-size: 15px;
    color: #ffffff;
    line-height: 25px;
    font-weight: 600;
}

.success .group .title {
    text-align: center;
    margin-right: 800px;
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}

.success .group .person {
    text-align: center;
    font-style: italic;
    margin-right: 800px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 8px;
}

.success .group .user {
    margin-left: 177px;
    margin-top: 40px;
}

.success .group-2 {
    margin-left: 47%;
    margin-top: -282px;
}

.success .group-2 .tickle {
    margin-top: -700px;
}

.success .group-2 .text-2 {
    text-align: center;
    margin-left: -580px;
    margin-top: -20px;
    font-size: 15px;
    color: #ffffff;
    line-height: 25px;
    font-weight: 600;
}

.success .group-2 .title-2 {
    text-align: center;
    margin-left: -580px;
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}

.success .group-2 .person-2 {
    text-align: center;
    font-style: italic;
    margin-left: -580px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 13px;
}

.success .group-2 .user-2 {
    margin-top: 41px;
}

.success .group-3 {
    margin-left: 980px;
    margin-top: -320px;
}

.success .group-3 .text-3 {
    text-align: center;
    margin-left: -175px;
    margin-top: -26px;
    font-size: 15px;
    color: #ffffff;
    line-height: 25px;
    font-weight: 600;
} 

.success .group-3 .title-3 {
    text-align: center;
    margin-left: -168px;
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}

.success .group-3 .person-3 {
    text-align: center;
    font-style: italic;
    margin-left: -168px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 13px;
}

.success .group-3 .user-3 {
    margin-left: 8px;
    margin-top: 41px;
}

/* contact style */

.content {
    height: 200px;
    background: #F67E7E;
}

.content .content-img {
    margin-left: -150px;
    margin-top: 56px;
}

.content .content-title {
    margin-top: -150px;
    margin-left: 140px;
    font-size: 48px;
    color: #012F34;
}

.content .border {
    cursor: pointer;
    float: right;
    margin-right: 140px;
    margin-top: -44px;
    border: 2px solid #012F34;
    height: 48px;
    width: 153px;
    border-radius: 24px;
}

.content .border .text {
    text-align: center;
    margin-top: 10px;
}

/* footer style */
.footer {
    background: #002529;
    height: 196px;
}

.footer .logo {
    margin-top: 48px;
}

.footer .footer-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
}

.footer .footer-text-2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 84px;
    margin-top: -22px;
    cursor: pointer;
}

.footer .list {
    list-style: none;
    margin-left: 325px;
    margin-top: -85px;
    line-height: 25px;
}

.footer .list .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    opacity: 60%;
}

.footer .facebook {
    float: right;
    margin-right: 100px;
    margin-top: -100px;
}

.footer .pinterest {
    float: right;
    margin-right: 50px;
    margin-top: -100px;
}

.footer .twitter {
    float: right;
    margin-right: 0px;
    margin-top: -98px;
}

.footer .copyright {
    float: right;
    margin-top: -20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    opacity: 60%;
}